/* header{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: block;
  width: 960px;
} */

h1 {
  font-size: 5em;
  color: rgb(63, 134, 151);
  padding-top: 68px;
  padding-bottom: 27px;
  font-weight: bold;
}

div {
  display: contents;
  font-size: 3em;
  content: inherit;
  color: black;

}


img {
height: 300px;
width: 200px;
border: 1px solid black;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
section {
  margin-left: 20px;
  font-size: 18px;
  border: 2px solid rgb(80, 255, 232);
  width: 250px;
  margin: 10px;
  display: flex inline;
  flex-wrap: wrap;

}

p {
  margin-top: 10px;
  height: 100px;
  width: 200px;
}